{{#if model}}
   <section id="main">
      {{input type="checkbox" id="toggle-all" checked=allAreDone}}
      <ul id="todo-list">
         {{#each model as |todo|}}
            {{todo-item todo=todo}}
         {{/each}}
      </ul>
   </section>
{{/if}}